---
import BaseLayout from '../layouts/BaseLayout.astro';

export const prerender = false;

const fullUrl = '/docs/introduction';
return Astro.redirect(fullUrl);
---

<BaseLayout>
  <div class='p-8'>
    <h2 class='text-xl font-bold'>Redirecting ..</h2>
    <p>Click the link below if you are not redirected automatically.</p>

    <p><a href={fullUrl} class='text-blue-700 underline'>{fullUrl}</a></p>
  </div>
</BaseLayout>
