---
import type { GuideType } from '../layouts/DocsLayout.astro';

export interface Props {
  activePath?: string;
  activeGuideSlug: string;
  guides: GuideType[];
}

const { activePath, guides, activeGuideSlug } = Astro.props;
---

<div
  id='docs-sidebar'
  class='hidden min-h-screen w-[200px] flex-shrink-0 border-r border-gray-200 text-right md:block lg:w-[350px]'
>
  <div class='relative top-0 sh:sticky'>
    <div class='flex justify-end px-5 pb-5 pt-10'>
      <a href='/' class='mb-2 block items-center justify-end'>
        <img src='/brand/icon.svg' alt='mly.fyi logo' class='h-16 w-16' />
      </a>
    </div>

    <ul>
      {
        guides.map((guide) => {
          const guidePath = `/docs/${guide.slug}`;
          return (
            <li class='mb-2'>
              <a
                href={guidePath}
                class:list={[
                  'py-2 pr-5 hover:text-black',
                  activeGuideSlug === guide.slug
                    ? 'text-black'
                    : 'text-gray-400',
                ]}
              >
                {guide.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>
