---
import { ArrowUpRight, Star } from 'lucide-react';
import type { GuideType } from '../layouts/DocsLayout.astro';

export interface Props {
  activePath?: string;
  activeGuideSlug: string;
  guides: GuideType[];
}

const { activePath, guides, activeGuideSlug } = Astro.props;
---

<div
  class='hidden min-h-screen w-[200px] flex-shrink-0 border-r border-gray-200 text-right md:block lg:w-[350px]'
>
  <div class='relative top-0 sh:sticky'>
    <div class='flex justify-end px-5 pb-5 pt-10'>
      <a href='/' class='mb-2 block items-center justify-end'>
        <img src='/brand/icon.svg' alt='mly.fyi logo' class='h-16 w-16' />
      </a>
    </div>

    <ul>
      {
        guides.map((guide) => {
          const guidePath = `/docs/${guide.slug}`;
          return (
            <li class='mb-2'>
              <a
                href={guidePath}
                class:list={[
                  'py-2 pr-5 hover:text-black',
                  activeGuideSlug === guide.slug
                    ? 'text-black'
                    : 'text-gray-400',
                ]}
              >
                {guide.data.title}
              </a>
            </li>
          );
        })
      }
    </ul>

    <div class='mt-5 inline-flex flex-col items-end'>
      <a
        class='inline-flex items-center gap-1.5 rounded-l-xl bg-orange-500 px-5 py-2 font-medium text-white hover:opacity-85'
        href='https://go.mly.fyi/mly-demo'
        target='_blank'
      >
        <ArrowUpRight size='16' className='stroke-[2.5px]' />
        Live Demo
      </a>
      <a
        class='mt-2 inline-flex items-center gap-1.5 rounded-l-xl bg-black px-5 py-2 font-medium text-white hover:opacity-85'
        href='https://github.com/arikchakma/mly.fyi'
        target='_blank'
      >
        <Star size='16' className='stroke-[2.5px]' />
        Star on GitHub</a
      >
    </div>
  </div>
</div>
