---
import UsecaseItem from './UsecaseItem.astro';
---

<div class='mt-10 grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-6 lg:gap-12'>
  <UsecaseItem
    title='Send email 100x cheaper'
    description='Send email 100x cheaper than other email delivery services via Amazon Simple Email Service (SES).'
  />
  <UsecaseItem
    title='Monitor Email Deliverability'
    description='Monitor email deliverability and track email opens, clicks, bounces, and complaints.'
  />
  <UsecaseItem
    title='Reach Inbox Faster'
    description='Send emails that reach the inbox faster and avoid the spam folder.'
  />
  <UsecaseItem
    title='Simple Analytics'
    description='Get simple analytics on email opens, clicks, bounces, and complaints.'
  />
</div>
